canvas {
    background-color: black;
    width: 500px;
    height: 500px;
    position: relative;
}

#myButtons {

}
.infoText{
    font-size: 15px;
    padding: 10px 0 0;
    margin: 0;
}
.label {
    font-size: 5px;
    padding: 0;
    margin: 0;
}